:root {
  --primary-color: rgb(112, 82, 133);
  --secondary-color: rgb(178, 166, 187);
  --heavy-gray: rgb(70, 70, 70);
  --light-gray: rgb(230, 230, 230);
}

body {
  background-color: var(--light-gray);
}

h1 {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: "Tinos", serif;
  font-size: 18px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 15px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

/*Hover classes*/

.calling-btn {
  background-color: var(--heavy-gray);
  border-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 45px;
  padding-right: 45px;
  text-transform: uppercase;
  margin: 24px;
}

.calling-btn:hover {
  background-color: var(--primary-color);
}

.secondary-btn {
  color: var(--heavy-gray);
  background-color: var(--light-gray);
  border-color: var(--heavy-gray);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.secondary-btn:hover {
  color: white;
  background-color: var(--primary-color);
}

.icon-btn {
  background-color: var(--heavy-gray);
  border-style: none;
  font-size: 18px;
}

.icon-btn:hover {
  background-color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

.inline-a {
  color: var(--primary-color);
}

.inline-a:hover {
  color: var(--secondary-color);
}

/*Navbar Classes*/

.navbar-active {
  font-weight: bold;
}
.navbar-active:hover {
  color: white;
}

.navbar-color {
  background-color: var(--heavy-gray);
  padding: 0;
}

.navbar-logo {
  max-width: 36px;
}

/*Regular classes*/

.foot-highlight {
  border-style: solid;
  border-width: thin;
  border-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 18px auto 18px auto;
  max-width: 81%;
  padding: 21px;
  text-align: center;
}

.head-padding {
  background: linear-gradient(
    -180deg,
    rgba(178, 166, 187, 0.5) 0%,
    rgba(230, 230, 230, 0.5) 100%
  );
  padding-top: 100px;
  margin: 0;
}

.hero {
  background: linear-gradient(
    -180deg,
    rgba(178, 166, 187, 0.5) 0%,
    rgba(230, 230, 230, 0.5) 100%
  );
  padding-top: 90px;
  padding-bottom: 72px;
  margin: 0;
}

.hero-p-width {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  text-align: center;
}

.hr-hidden {
  display: none;
}

.hr-margin {
  margin-top: 36px;
  margin-bottom: 36px;
}

.illustrative-icon {
  color: white;
  background-color: var(--primary-color);
  font-size: 36px;
}

.img-features {
  max-width: 35%;
  margin-bottom: 18px;
}

#ui-logo {
  max-width: 8%;
  margin-bottom: 32px;
}

/*Form classes*/

.form-width {
  max-width: 45%;
}

.form-input {
  color: var(--heavy-gray);
  background-color: var(--light-gray);
  border-color: var(--heavy-gray);
  border-width: thin;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 12px;
}

.form-calling-btn {
  color: white;
  background-color: var(--heavy-gray);
  border-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 7px 0;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.form-calling-btn:hover {
  background-color: var(--primary-color);
}

/*Media Q*/

@media (max-width: 576px) {
  h4 {
    font-size: 21px;
  }

  p {
    font-size: 21px;
  }

  .foot-hidden {
    display: none;
  }

  .form-width {
    max-width: 80%;
  }

  .hero-p-width {
    max-width: 90%;
  }

  .hr-hidden {
    display: block;
  }

  .img-features {
    display: none;
  }

  #ui-logo {
    display: inline;
    max-width: 35%;
  }
}
